{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }]
  }
}
