{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0, "maxBOF": 0 }]
  }
}
